fastapi
uvicorn
langchain
langchain-community
langchain-google-genai
langgraph
faiss-cpu
pypdf
python-dotenv
python-multipart
google-generativeai
tavily-python
markdown
langchain-text-splitters
langchain-core
streamlit
langchain-groq
langchain-huggingface
sentence-transformers
